{% extends 'base.html' %}
{% load i18n %}

{% block headtitle %}{% trans 'Print Terms and Conditions' %}{% endblock %}

{% block body_class %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>{{ terms.name|safe }}</h1>
    <h3>Version {{ terms.version_number|safe }}</h3>

    <div>
        {{ terms.text|safe }}
    </div>
    <script>
        var _onl = window.onload;
        window.onload = function(e) {
            if (_onl) _onl(e);
            window.print();
        }
    </script>

{% endblock %}

{% block footer %}{% endblock %}
